<!DOCTYPE html>
<html lang="en">
<head>
    <title>500</title>

    <link href="/Content/Style/iconFont.css" rel="stylesheet" />
    <link href="/Content/Style/metro-bootstrap.css" rel="stylesheet" />
    <link href="/Content/Style/metro-bootstrap-responsive.css" rel="stylesheet" />
    <link href="/Content/Style/anthilla.css" rel="stylesheet" />
</head>
<body class="metro">
    <div id="login-form" class="grid ">
        <div class="row">
            <div class="span4">
                <img alt="anthilla" style="margin-top: 80px;" id="anthilla-logo" src="/Content/Style/anthilla_logo_300x50_verde.png" />
                <label class="fg-anthilla-orange">Internal Server Error - 500</label>
                <div class="input-control text state-anthilla-gray" data-role="input-control">
                    <span>Your server encountered some kind of error... </span>
                    <span>Contact someone expert... </span>
                    <span>ASAP! </span>
                </div>
                <a href="/" class="button bg-anthilla-orange fg-dark" style="width: 260px; color: #3d3d3d !important;"><i class="icon-cone on-left"></i>Report this error</a>
                <a style="margin-top: 5px;" href="/" class="button bg-anthilla-green fg-dark" style="width: 260px; color: #3d3d3d !important;"><i class="icon-home on-left"></i>Return to Anthilla!</a>
            </div>
        </div>
    </div>
</body>
</html>