@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<List<AnthillaASCore.Models.Anth_Dump>>
@using System.Collections.Generic
@{Layout = "_layout-st.cshtml";}

@section PageBar
{
    <nav class="navigation-bar bg-transparent page-bar">
        <nav class="navigation-bar-content">
            <div class="element upcase fg-anthilla-blu border-2-anthilla-blu no-overlay" style="line-height: 0px;">Backup </div>
            <div class="element-divider"></div>
            <div class="element upcase fg-anthilla-green border-2-anthilla-green no-overlay" style="line-height: 0px;">
                <i class="icon-arrow-right on-left" style="line-height: 0px;"></i>Backup Job
            </div>
            <div class="element-divider"></div>
            <div class="element upcase fg-anthilla-green border-2-anthilla-green no-overlay" style="line-height: 0px;">
                <i class="icon-user-3 on-left" style="line-height: 0px;"></i>Backup Agent
            </div>
            <div class="element-divider"></div>
            <div class="element upcase fg-anthilla-green border-2-anthilla-green no-overlay" style="line-height: 0px;">
                <i class="icon-enter on-left" style="line-height: 0px;"></i>Remote Backup
            </div>
            <div class="element-divider"></div>
            <div class="element upcase fg-anthilla-green border-2-anthilla-green no-overlay" style="line-height: 0px;">
                <i class="icon-glasses on-left" style="line-height: 0px;"></i>HyperVisor Job
            </div>
            <div class="element-divider"></div>
        </nav>
    </nav>
}

@section Dashboard
{

}

@section MainContent
{

}

@section Scripts
{

}