<!DOCTYPE html>
<html lang="en">
<head>
    <title>Anthilla A.S.</title>

    <link href="/Content/Style/iconFont.css" rel="stylesheet" />
    <link href="/Content/Style/metro-bootstrap.css" rel="stylesheet" />
    <link href="/Content/Style/metro-bootstrap-responsive.css" rel="stylesheet" />
    <link href="/Content/Style/anthilla.css" rel="stylesheet" />
</head>
<body class="metro">
    <div id="login-form" class="grid ">
        <div class="row">
            <div class="span4">
                <a href="/firewall/home" class="tile double bg-anthilla-blu fg-anthilla-gray" style="font-size: 30px;">
                    <i class="icon-fire on-left fg-anthilla-orange" style="font-size: 100px; line-height: 120px;"></i>Firewall
                </a>

                <a href="/storage/home" class="tile double bg-anthilla-blu fg-anthilla-gray" style="font-size: 30px;">
                    <i class="icon-database on-left fg-anthilla-orange" style="font-size: 100px; line-height: 120px; margin-left: 5px;"></i>Storage
                </a>
            </div>
        </div>
    </div>
</body>
</html>