@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<List<AnthillaASCore.Models.Anth_Dump>>
@using System.Collections.Generic
@{Layout = "_layout-st.cshtml";}

@section PageBar
{
    <nav class="navigation-bar bg-transparent page-bar">
        <nav class="navigation-bar-content">
            <div class="element upcase fg-anthilla-blu border-2-anthilla-blu no-overlay" style="line-height: 0px;">Sharing </div>
            <div class="element-divider"></div>
            <div class="element upcase fg-anthilla-green border-2-anthilla-green no-overlay" style="line-height: 0px;">
                <i class="icon-windows on-left" style="line-height: 0px;"></i>Windows
            </div>
            <div class="element-divider"></div>
            <div class="element upcase fg-anthilla-green border-2-anthilla-green no-overlay" style="line-height: 0px;">
                <i class="icon-apple on-left" style="line-height: 0px;"></i>Apple
            </div>
            <div class="element-divider"></div>
            <div class="element upcase fg-anthilla-green border-2-anthilla-green no-overlay" style="line-height: 0px;">
                <i class="icon-tux on-left" style="line-height: 0px;"></i>Unix
            </div>
            <div class="element-divider"></div>
            <div class="element upcase fg-anthilla-green border-2-anthilla-green no-overlay" style="line-height: 0px;">
                <i class="icon-loading on-left" style="line-height: 0px;"></i>RSYNC
            </div>
            <div class="element-divider"></div>
            <div class="element upcase fg-anthilla-green border-2-anthilla-green no-overlay" style="line-height: 0px;">
                <i class="icon-cloud on-left" style="line-height: 0px;"></i>Cloud
            </div>
            <div class="element-divider"></div>
            <div class="element upcase fg-anthilla-green border-2-anthilla-green no-overlay" style="line-height: 0px;">
                <i class="icon-upload-2 on-left" style="line-height: 0px;"></i>FTP
            </div>
            <div class="element-divider"></div>
            <div class="element upcase fg-anthilla-green border-2-anthilla-green no-overlay" style="line-height: 0px;">
                <i class="icon-zip on-left" style="line-height: 0px;"></i>FileShare
            </div>
            <div class="element-divider"></div>
            <div class="element upcase fg-anthilla-green border-2-anthilla-green no-overlay" style="line-height: 0px;">
                <i class="icon-eye on-left" style="line-height: 0px;"></i>Inspect File Access
            </div>
            <div class="element-divider"></div>
        </nav>
    </nav>
}

@section Dashboard
{

}

@section MainContent
{

}

@section Scripts
{

}