@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<List<AnthillaASCore.Models.Anth_Dump>>
@using System.Collections.Generic
@{Layout = "_layout-fw.cshtml";}

@section PageBar
{
    <nav class="navigation-bar bg-transparent page-bar">
        <nav class="navigation-bar-content">
            <div class="element upcase fg-anthilla-blu border-2-anthilla-blu no-overlay" style="line-height: 0px;">Setup </div>
            <div class="element-divider"></div>
            <div class="element upcase fg-anthilla-green border-2-anthilla-green no-overlay" style="line-height: 0px;">
                <i class="icon-wrench on-left" style="line-height: 0px;"></i>Passwords
            </div>
            <div class="element-divider"></div>
            <div class="element upcase fg-anthilla-green border-2-anthilla-green no-overlay" style="line-height: 0px;">
                <i class="icon-clipboard-2 on-left" style="line-height: 0px;"></i>Report
            </div>
            <div class="element-divider"></div>
            <div class="element upcase fg-anthilla-green border-2-anthilla-green no-overlay" style="line-height: 0px;">
                <i class="icon-globe on-left" style="line-height: 0px;"></i>Services
            </div>
            <div class="element-divider"></div>
            <div class="element upcase fg-anthilla-green border-2-anthilla-green no-overlay" style="line-height: 0px;">
                <i class="icon-earth on-left" style="line-height: 0px;"></i>Language
            </div>
            <div class="element-divider"></div>
            <div class="element upcase fg-anthilla-green border-2-anthilla-green no-overlay" style="line-height: 0px;">
                <i class="icon-star-4 on-left" style="line-height: 0px;"></i>Authority Certification
            </div>
            <div class="element-divider"></div>
            <div class="element upcase fg-anthilla-green border-2-anthilla-green no-overlay" style="line-height: 0px;">
                <i class="icon-mail on-left" style="line-height: 0px;"></i>Admin Email
            </div>
            <div class="element-divider"></div>
            <div class="element upcase fg-anthilla-green border-2-anthilla-green no-overlay" style="line-height: 0px;">
                <i class="icon-floppy on-left" style="line-height: 0px;"></i>Save Config
            </div>
            <div class="element-divider"></div>
            <div class="element upcase fg-anthilla-green border-2-anthilla-green no-overlay" style="line-height: 0px;">
                <i class="icon-search on-left" style="line-height: 0px;"></i>Find Updates
            </div>
            <div class="element-divider"></div>
        </nav>
    </nav>
}

@section Dashboard
{

}

@section MainContent
{
    <legend>Passwords</legend>
    <table class="table hovered">
        <thead>
            <tr>
                <th>Change User Password</th>
                <th>&nbsp</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>User Name</td>
                <td>
                    <input type="text" /></td>
            </tr>
            <tr>
                <td>New Password</td>
                <td>
                    <input type="password" /></td>
            </tr>
            <tr>
                <td>Repeat Password</td>
                <td>
                    <input type="password" /></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td>&nbsp</td>
                <td>
                    <input class="bg-anthilla-green fg-anthilla-gray upcase" type="button" value="Save" /></td>
            </tr>
        </tfoot>
    </table>
    <br />
    <legend>Report</legend>
    <table class="table hovered">
        <thead>
            <tr>
                <th>Config</th>
                <th>&nbsp</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Enable</td>
                <td>
                    <select>
                        <option>Yes</option>
                        <option>No</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Email Owner</td>
                <td>
                    <input type="email" /></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td>&nbsp</td>
                <td>
                    <input class="bg-anthilla-green fg-anthilla-gray upcase" type="button" value="Save" /></td>
            </tr>
        </tfoot>
    </table>
    <br />
    <legend>Services</legend>
    <br />
    <legend>Language</legend>
    <table class="table hovered">
        <thead>
            <tr>
                <th>Available Languages</th>
                <th>&nbsp</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <select>
                        <option selected disabled>Select Language</option>
                    </select>
                </td>
                <td>
                    <input class="bg-anthilla-green fg-anthilla-gray upcase" type="button" value="Save" /></td>
            </tr>
            <tr>
                <td>Upload a new file</td>
                <td>
                    <input type="file" value="Create" /></td>
            </tr>
        </tbody>
    </table>
    <br />
    <legend>Authority Certification</legend>
    <table class="table hovered">
        <thead>
            <tr>
                <th>Certificate</th>
                <th>Expires</th>
                <th>Cryptography</th>
                <th>Email</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
            <tr>
                <td>&nbsp</td>
                <td>
                    <input class="bg-anthilla-green fg-anthilla-gray upcase" type="button" value="Renew Certificate" /></td>
            </tr>
        </tfoot>
    </table>
    <br />
    <legend>Admin Email</legend>
    <table class="table hovered">
        <thead>
            <tr>
                <th>Set Admin Emails</th>
                <th>&nbsp</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Address</td>
                <td>
                    <input type="text" /></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td>&nbsp</td>
                <td>
                    <input class="bg-anthilla-green fg-anthilla-gray upcase" type="button" value="Save" /></td>
            </tr>
        </tfoot>
    </table>
    <br />
    <legend>Save Config</legend>
    <div class="tab-control" data-role="tab-control">
        <ul class="tabs">
            <li class="active"><a href="#_save_">Save</a></li>
            <li><a href="#_load_">Load</a></li>
        </ul>

        <div class="frames">
            <div class="frame" id="_save_">
                <label>Email Address</label>
                <input type="text" />
                <input class="bg-anthilla-green fg-anthilla-gray upcase" type="button" value="Send Config" />
            </div>
            <div class="frame" id="_load_">
                <label>File Path</label>
                <input type="file" />
                <input class="bg-anthilla-green fg-anthilla-gray upcase" type="button" value="Load Config" />
            </div>
        </div>
    </div>
    <br />
    <legend>Find Updates</legend>
    <br />
}

@section Scripts
{
    <script type="text/javascript">
        $('select').windowed();
    </script>
}