@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<List<AnthillaASCore.Models.Anth_Dump>>
@using System.Collections.Generic
@{Layout = "_layout-fw.cshtml";}

@section PageBar
{
    <nav class="navigation-bar bg-transparent page-bar">
        <nav class="navigation-bar-content">
            <div class="element upcase fg-anthilla-green border-2-anthilla-green no-overlay" style="line-height: 0px;">Hot Spot </div>
            <div class="element-divider"></div>
            <div class="element upcase fg-anthilla-green border-2-anthilla-green no-overlay" style="line-height: 0px;">
                <i class="icon-broadcast on-left" style="line-height: 0px;"></i>Hot Spot
            </div>
            <div class="element-divider"></div>
            <div class="element upcase fg-anthilla-green border-2-anthilla-green no-overlay" style="line-height: 0px;">
                <i class="icon-share-2 on-left" style="line-height: 0px;"></i>Active Connections
            </div>
            <div class="element-divider"></div>
        </nav>
    </nav>
}

@section Dashboard
{

}

@section MainContent
{

}

@section Scripts
{

}